@model CreateSocialMediaDto
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- page content -->
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title"> Yeni Sosyal Medya Bilgisi Girişi</h4>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Sosyal Medya Adı</label>
                                <input type="text" class="form-control" asp-for="Name" id="exampleInputName" placeholder="Sosyal Medya adı giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUrl">Url</label>
                                <input type="text" class="form-control" asp-for="Url" id="exampleInputUrl" placeholder="Sosyal Medya url giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputIcon">İkon</label>
                                <input type="text" class="form-control" asp-for="Icon" id="exampleInputIcon" placeholder="Sosyal Medya ikon giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Sosyal Medya Bilgisini Kaydet</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

