@model UpdateCarDto
@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- page content -->
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Araç Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydet butonuna tıklayarak güncelleme işlemi tamamlayabilirsiniz.</p>

                        <form method="post">
                            <input type="hidden" asp-for="CarID" />
                            <div class="form-group">
                                <label for="exampleInputBrand">Marka</label>
                                @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues, new { @class = "form-control" })

                            </div>
                            <div class="form-group">
                                <label for="exampleInputModel">Model</label>
                                <input type="text" class="form-control" asp-for="Model" id="exampleInputModel" placeholder="Model girişi yapınız">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputcoverImage">Kapak Fotoğrafı:</label>
                                <input type="text" class="form-control" asp-for="CoverImgUrl" id="exampleInputcoverImage" placeholder="Kapak fotoğraf linkini giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputKm">Km</label>
                                <input type="text" class="form-control" asp-for="Km" id="exampleInputKm" placeholder="Km bilgisi giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTransmission">Vites Türü</label>
                                <input type="text" class="form-control" asp-for="Transmission" id="exampleInputTransmission" placeholder="Vites türünü yazınız.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputSeat">Koltuk Sayısı</label>
                                <input type="text" class="form-control" asp-for="Seat" id="exampleInputSeat" placeholder="Koltuk sayısını seçiniz.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputLuggage">Bagaj Sayısı </label>
                                <input type="text" class="form-control" asp-for="Luggage" id="exampleInputLuggage" placeholder="Bagaj sayısı seçiniz.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFuel">Yakıt Türü </label>
                                <input type="text" class="form-control" asp-for="Fuel" id="exampleInputFuel" placeholder="Yakıt türünü yazınız.">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputBigImageUrl">Büyük Kapak Fotoğrafı</label>
                                <input type="text" class="form-control" asp-for="BigImgUrl" id="exampleInputBigImageUrl" placeholder="Araç detayında görüntülenecek fotoğraf linkini giriniz.">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Aracı Kaydet</button>
                        </form>

                    </div>
                </div>

            </div>

        </div>


    </div>

</div>

