@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- page content -->
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Blog Kategori Girişi</h4>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Kategori Adı</label>
                                <input type="text" class="form-control" asp-for="Name" id="exampleInputName" placeholder="Kategori adı giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kategoriyi Kaydet</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

